{% extends 'base.html' %}

{% block content %}
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ blog.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on {{ blog.created }} by </div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="?category={{ blog.category.id }}">{{ blog.category }}</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{ blog.thumbnail.url }}" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ blog.body | linebreaks }}</p>
                </section>
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        {% if request.user.is_authenticated %}
                        <form class="mb-4" method="POST">
                            {% csrf_token %}
                            {{ form.body }}
                            <br>
                            <button class="btn btn-primary" style="width: 100%">Submit</button>
                        </form>
                        {% else %}
                        <p>Login to drop a comment</p>
                        <br><br>
                        {% endif %}

                        {% for comment in comments %}
                        <div class="d-flex">
                            {% if comment.user.profile_pic and comment.user.profile_pic.url %}
                            <img src="{{ comment.user.profile_pic.url }}" alt="{{ comment.user.username }}" class="rounded-circle" width="150">
                            {% else %}
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="{{ comment.user.username }}" class="rounded-circle" width="150">
                            {% endif %}
                            <div class="ms-3">
                                <div class="fw-bold">{{ comment.user.username }}</div>
                                {{ comment.body }}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <form action="" method="get">
                        <div class="input-group">
                            <input class="form-control" name="search" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                            <button class="btn btn-primary" id="button-search" type="submit">Go!</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        {% for category in categories %}
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a href="?category={{ category.id }}">{{ category.title }}</a></li>
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">Taiel es campeon 2, pero campeon de leche</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
